.wrapper
  .signup-bar
    .signup-header
      =link_to image_tag("mercari_logo_color.svg"), "root_path", class: "sign-up-logo"
      %ul
        %li.first-list
          会員情報
          .radius
        %li
          電話番号認証
          .radius
        %li#active-text
          お届け先住所入力
          .radius#active
        %li
          完了
          .radius-last
  .single-main
    .single-main-container
      %h2.single-main-container__head 住所入力
      .single-main-container__inner
        .single-main-container__inner--content
        = form_for :session, url: sign_up_create_path, method: :post, id: 'new_user', class: 'new_user' do |f|
          .ur-form-group
            = f.label :郵便番号 , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder:"例) 1234567", class: "ur-form-group__field"
            / - if resource.errors.messages[:postal_code].present?
            /   - resource.errors.messages[:postal_code].each do |message|
            /     %p.error= message
          .ur-form-group
            = f.label :都道府県 , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.collection_select :prefecture, Prefecture.all, :id, :name, {prompt: "---"}, {class: 'input-default'}
            / - if resource.errors.messages[:prefecture].present?
            /   - resource.errors.messages[:prefecture].each do |message|
            /     %p.error= message
          .ur-form-group
            = f.label :市区町村, class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :city, type: 'input', class: 'input-default', placeholder: '例）横浜市緑区'
            / - if resource.errors.messages[:city].present?
            /   - resource.errors.messages[:city].each do |message|
            /     %p.error= message
          .ur-form-group
            = f.label :番地 ,class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :street_address, type: 'input', class: 'input-default', placeholder: '例）青山1-1-1'
            / - if resource.errors.messages[:street_address].present?
            /   - resource.errors.messages[:street_address].each do |message|
            /     %p.error= message
          .ur-form-group
            = f.label :建物 ,class: "ur-form-group__label"
            %span.any_form 任意
            = f.text_field :building, type: 'input', class: 'input-default', placeholder: '例）柳ビル103'
            / - if resource.errors.messages[:building].present?
            /   - resource.errors.messages[:building].each do |message|
            /     %p.error= message

            .ur-form__btn
              = f.submit "次へ進む",class: "ur-form__btn--submit ur-form__btn--default ur-form__btn--red"

  =render 'shared/sign-up-footer'
