.wrapper
  .signup-bar
    .signup-header
      =link_to image_tag("mercari_logo_color.svg"), "root_path", class: "sign-up-logo"
      %ul
        %li#active-text.first-list
          会員情報
          .radius#active
        %li
          電話番号認証
          .radius
        %li
          お届け先住所入力
          .radius
        %li
          完了
          .radius-last
  .single-main
    .single-main-container
      %h2.single-main-container__head 会員情報入力
      .single-main-container__inner
        .single-main-container__inner--content
        = form_for :session, url: sign_up_tel_path, method: :post, id: 'new_user', class: 'new_user' do |f|
          .ur-form-group
            = f.label :ニックネーム , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder:"例) メルカリ太郎", class: "ur-form-group__field"
            - if resource.errors.messages[:nickname].present?
              - resource.errors.messages[:nickname].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :メールアドレス , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"PC・携帯どちらでも可", class: "ur-form-group__field"
            - if resource.errors.messages[:email].present?
              - resource.errors.messages[:email].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :パスワード, class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.password_field :password, autocomplete: "new-password",placeholder:"6文字以上",class: "ur-form-group__field"
            - if resource.errors.messages[:password].present?
              - resource.errors.messages[:password].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :"パスワード (確認)",class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"6文字以上",class: "ur-form-group__field"
            - if resource.errors.messages[:password_confirmation].present?
              - resource.errors.messages[:password_confirmation].each do |message|
                %p.error= message
          .ur-form-group
            %h3.ur-form-group__confirm 本人確認
            %p.ur-form-group__text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .ur-form-group
            = f.label :"姓 (全角)" , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :family_name, autofocus: true, autocomplete: "family_name" ,placeholder:"例) 山田", class: "ur-form-group__field"
            .ur-form-group-error
            - if resource.errors.messages[:family_name].present?
              - resource.errors.messages[:family_name].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :"名 (全角)" , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name" ,placeholder:"例) 彩", class: "ur-form-group__field"
            - if resource.errors.messages[:first_name].present?
              - resource.errors.messages[:first_name].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :"姓カナ (全角)" , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" ,placeholder:"例) ヤマダ", class: "ur-form-group__field"
            - if resource.errors.messages[:family_name_kana].present?
              - resource.errors.messages[:family_name_kana].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :"名カナ (全角)" , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" ,placeholder:"例) アヤ", class: "ur-form-group__field"
            - if resource.errors.messages[:first_name_kana].present?
              - resource.errors.messages[:first_name_kana].each do |message|
                %p.error= message
          .ur-form-group
            = f.label :"生年月日" , class: "ur-form-group__label"
            %span.ur-form-group__span 必須
            .ur-form-group-birthday__year
              .ur-form-group-birthday__wrap
                = f.date_select(:birthday_data, {use_month_numbers: true, start_year: 1900, end_year: (Time.now.year), prompt: "---"}, {class: "select__default"})
            %p.ur-form-group-info-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            /= recaptcha_tags
            .ur-form-group#termsofservice
              %p.ur-form-group__agree
              次へ進むのボタンを押すことにより、
              =link_to "利用規約",root_path
              %p.ur-form-group__agree
              に同意したものとみなします

            .ur-form__btn
              = f.submit "次へ進む",class: "ur-form__btn--submit ur-form__btn--default ur-form__btn--red"

  =render 'shared/sign-up-footer'
