.wrapper

  = render 'shared/header'
  = render 'shared/logout-breadcrumbs'

  .container.clearfix

    = render 'leftbar-logout'

    .main
      .content
      .logout
        = link_to destroy_user_session_path, method: :delete, class: 'btn' do
          .logout__btn
            %span ログアウト

  = render 'shared/sell-btn'
  = render "shared/app-banner"
  = render 'shared/footer'
