.wrapper

  = render 'shared/header'
  = render 'shared/logout-breadcrumbs'

  .container.clearfix

    = render 'leftbar-logout'

    .main
      .content
      .logout
        .logout__btn
          = link_to 'destroy_user_session＿', class: 'btn' do
            %span ログアウト

  = render 'shared/sell-btn'
  = render "shared/app-banner"
  = render 'shared/footer'