%header.pc-header.visible-pc
  .pc-header__box
    .pc-header__box__top
      %h1.pc-header__box__top--logo
        = link_to root_path do
          = image_tag "mercari_logo_color.svg", alt: 'mercari'
      = form_with url: '#', class: "pc-header__box__top--search-box" do |form|
        = form.text_field :search, placeholder: "何かお探しですか？", class: 'search-box input-default'
        = form.button type: 'submit', class: 'search-btn' do
          %i.fa.fa-search
    .pc-header__box__navi
      %navi.pc-header__box__navi--product
        %ul.navi-icon
          %li
            %h2
              = link_to '#', class: "pc-header__box__navi--product--root list-parent" do
                %i.fa.fa-list-ul
                %span カテゴリーから探す
            %ul.pc-header-nav-parent-wrap
              = render 'shared/category-parents', parents: @parents
          %li
            %h2
              = link_to '#', class: "pc-header__box__navi--product--root list-parent" do
                %i.fa.fa-tag
                %span ブランドから探す
      .pc-header__box__navi--user
        - if user_signed_in?
          %ul.pc-header__box__navi--user--list
            %li
              = link_to '#', class: "pc-header__box__navi--user--list--link" do
                %i.far.fa-bell.fa-lg
                %span お知らせ
            %li
              = link_to '#', class: "pc-header__box__navi--user--list--link" do
                %i.fa.fa-check.fa-lg
                %span やることリスト
            %li
              = link_to users_path, class: "pc-header__box__navi--user--list--link" do
                %i.fa.fa-circle.fa-lg
                %span マイページ
        - else
          %ul.pc-header__box__navi--user--login
            %li
              = link_to "ログイン", new_user_session_path, class: "sp-header-btn btn-red"
            %li
              = link_to "新規会員登録", new_user_path, class: "sp-header-btn header-signup"

%header.sp-header.visible-sp
  .sp-header__box
    %h1.logo
      = link_to root_path do
        = image_tag "mercari_logo_color.svg", alt: 'mercari'
    .sp-header__box__navi--user
      = link_to '#', class: "sp-header__box__navi--user--link" do
        %figure
          %i.far.fa-bell.fa-lg
      = link_to '#', class: "sp-header__box__navi--user--link" do
        %figure
          %i.fa.fa-check.fa-lg
      = link_to users_path, class: "sp-header__box__navi--user--link" do
        %figure
          %i.fa.fa-circle.fa-lg
  .sp-header__search-bar
    = form_with url: '#', class: "sp-header__search-bar__form" do |form|
      = form.text_field :search, placeholder: "何をお探しですか？", class: 'sp-search-box input-default'
      = form.button type: 'submit', class: 'search-btn' do
        %i.fa.fa-search
  .sp-header__navi
    = link_to '#', class: "sp-header__navi--category" do
      %i.fa.fa-list-ul
      %span カテゴリーから探す
    = link_to '#', class: "sp-header__navi--brand" do
      %i.fa.fa-tag
      %span ブランドから探す
