= render 'shared/header'
.default-container
  %nav.bread-container
    - breadcrumb :method
    = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"
  %main.l-container
    .right-content.credit-content
      .sell__form__introduction
        支払方法
      .credit-content__intro
        クレジットカード一覧
      -if current_user.cards.exists?
        .credit_detail
          =link_to "削除する", creditcard_path(id:current_user.id),method: :delete
          .buy__form__content__cover__brand
            -if @brand="visa"
              =image_tag "Visa.png",size: "50x15"
            -else
              =@brand
          .buy__form__content__cover__number
            .buy__form__content__cover__number__secret
            ********
            .buy__form__content__cover__number__last4
              =@last4
          .buy__form__content__cover__exp
            .buy__form__content__cover__exp__month
              =@exp_month
            .buy__form__content__cover__exp__monthtoyear /
            .buy__form__content__cover__exp__year
              =@exp_year


      -else
        .sell__form__button__back
          = link_to "□ クレジットカードを追加する", new_card_path, class: 'itemsnewlink__backbutton credit-content__link'
      .credit-content__notice
        = link_to "支払い方法について >", user_path(:id), class: 'itemsnewlink itemsnewlink__notice'
    = render 'shared/mypage-left-bar'
= render 'shared/footer'
