.single-container
  %header.single-header
    %h1
      = link_to('https://www.mercari.com/jp/') do
        = image_tag 'mercari_logo_color.svg', alt: 'mercari', height: '49px', width: '185px'
  %main.single-main
    %section.buy-item-container
      #sell-container
        .container__inner
          %h2.single-head
            商品の情報を入力
          = form_for @item, id: 'new-item' do |item|
            .upload-box
              %h3.upload-box__head
                出品画像
                %span.form-require
                  必須
              %p
                最大10枚までアップロードできます
              .items-container.clearfix.state-image-number-10
                .items-container__upload
                  .items-container__upload__items.have-item-1
                    %ul#image-list
                      = item.fields_for :image do |image|
                        = image.label :file, id: 'image-list-before' do
                          = image.file_field :file, multiple: true
                          / , style: 'display: none;'
                          .items-container__drop-box#image-drop-box
                            %pre.visible-pc
                              ドラッグ & ドロップ
                              またはクリックしてアップロード
              %ul.hide.fail-comment#image-error
                %li 画像を入力してください
            .content
              .form-group
                = item.label :name do
                  商品名
                  %span.form-require 必須
                %div
                  = item.text_field :name, class: 'input-default', placeholder: "商品名（必須 40文字まで)"
                %ul.hide.fail-comment#name-error
                  %li 入力してください
              .form-group
                = item.label :description do
                  商品の説明
                  %span.form-require 必須
                = item.text_area :description, class: 'textarea-default', size: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
                %ul.hide.fail-comment#description-error
                  %li 入力してください
            .content.clearfix
              %h3.sub-head 商品の詳細
              .form-box
                .form-group
                  = item.label :category_id do
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = item.select :category_id, [["レディース", "1"], ["メンズ", "2"], ["ベビー・キッズ","3"], ["インテリア・住まい・小物","4"], ["本・音楽・ゲーム","5"], ["おもちゃ・ホビー・グッズ","1328"], ["コスメ・香水・美容","6"], ["家電・スマホ・カメラ","7"], ["スポーツ・レジャー","8"], ["ハンドメイド","9"], ["チケット","1027"], ["自転車・オートバイ","1318"], ["その他", "10"]], {prompt: "---"}, {class: 'select-default'}
                      %i.fas.fa-chevron-down.fa-lg
                  %ul.hide.fail-comment#category-error
                    %li 選択してください
                .form-group
                  = item.label :condition do
                    商品の詳細
                    %span.form-require 必須
                  .select-wrap
                    = item.select :condition, [["新品・未使用", "1"], ["未使用に近い", "2"], ["目立った傷や汚れなし", "3"], ["やや傷や汚れあり", "4"], ["傷や汚れあり", "5"], ["全体的に状態が悪い", "6"],], {prompt: "---"}, {class: "select-default"}
                    %i.fas.fa-chevron-down.fa-lg
                  %ul.hide.fail-comment#condition-error
                    %li 選択してください
            .content.clearfix
              = item.fields_for :delivery do |deli|
                %h3.sub-head 配送について
                = link_to "/jp/help_center/article/68/", class: "form-question" do
                  %i.fas.fa-question-circle
                .form-box
                  .form-group
                    = deli.label :payer do
                      配送料の負担
                      %span.form-require 必須
                    %div
                      .select-wrap
                        = deli.select :payer, [["送料込み(出品者負担)", "2"], ["着払い(購入者負担)", "1"]], {prompt: "---"}, {class: 'select-default'}
                        %i.fas.fa-chevron-down.fa-lg
                    %ul.hide.fail-comment#payer-error
                      %li 選択してください
                  .form-group
                    = deli.label :method do
                      配送の方法
                      %span.form-require 必須
                    %div
                      .select-wrap
                        = deli.select :method, [["未定", "0"], ["らくらくメルカリ便", "1"], ["ゆうメール", "3"], ["レターパック", "4"], ["普通郵便(定型、定形外)", "5"], ["クロネコヤマト", "6"], ["ゆうパック", "7"], ["クリックポスト", "8"], ["ゆうパケット", "9"]], {prompt: "---"}, {class: 'select-default'}
                        %i.fas.fa-chevron-down.fa-lg
                      %ul.hide.fail-comment#method-error
                        %li 選択してください
                  .form-group
                    = deli.label :deriveryFrom do
                      発送元の地域
                      %span.form-require 必須
                    .select-wrap
                      = deli.collection_select :area, Prefecture.all, :id, :name, {prompt: "---"}, {class: 'select-default'}
                      %i.fas.fa-chevron-down.fa-lg
                    %ul.hide.fail-comment#area-error
                      %li 選択してください
                  .form-group
                    = deli.label :deriveryDays do
                      発送までの日数
                      %span.form-require 必須
                    .select-wrap
                      = deli.select :date, [["1~2日で発送", "1"], ["2~3日で発送", "2"], ["4~7日で発送", "3"]], {prompt: "---"}, {class: 'select-default'}
                      %i.fas.fa-chevron-down.fa-lg
                    %ul.hide.fail-comment#date-error
                      %li 選択してください
            .content.clearfix
              %h3.sub-head 販売価格(300〜9,999,999)
              = link_to "/jp/help_center/article/64/", class: "form-question" do
                %i.fas.fa-question-circle
              .form-box
                %ul.price
                  %li.form-group
                    .clearfix
                      = item.label :price, class: "l-left" do
                        価格
                        %span.form-require 必須
                      .l-right.price-input
                        ¥
                        .price-input__container
                          = item.text_field :price, class: 'input-default', id: 'item_price', placeholder: "例）300"
                    #price-error.fail-comment.hide
                      300以上9999999以下で入力してください
                  %li.clearfix
                    .l-left 販売手数料 (10%)
                    .l-right#item_commission -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right#item_profit -
            .modal{role: "dialog", tabindex: "-1"}
              .modal-inner
            .content.btn-box
              .btn-box__notes
                %p.btn-box__notes__note
                  = link_to '禁止されている出品', '/jp/help_center/getting_started/prohibited_items/'
                  、
                  = link_to '行為', '/jp/help_center/getting_started/prohibited_conduct/'
                  を必ずご確認ください。
                %p.btn-box__notes__note
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to '偽ブランドの販売','/jp/help_center/getting_started/counterfeit_goods/'
                  は犯罪であり処罰される可能性があります。
                %p.btn-box__notes__note
                  また、出品をもちまして
                  = link_to '加盟店規約', '/jp/seller_terms/'
                  に同意したことになります。
              = item.submit "出品する", {class: "btn-box__default btn-box--red", id: "item-sell-submit-btn"}
              .btn-box__default.btn-box--gray もどる
          .overlay
  = render 'form-footer'

