.wrapper
  =render "shared/header"
  %main.white
    .swiper-container.top-carousel
      .swiper-wrapper
        .swiper-slide
          = image_tag 'carousel/banner-bokurano-heisei.jpg', alt: 'swipe01'
        .swiper-slide
          = image_tag 'carousel/banner-natsukashi.jpg', alt: 'swipe02'
        .swiper-slide
          = image_tag 'carousel/banner-new-life.jpg', alt: 'swipe03'
      .swiper-button-prev.swiper-button-custome
        %i.fas.fa-angle-double-left
      .swiper-button-next.swiper-button-custome
        %i.fas.fa-angle-double-right
      .swiper-pagination
    .main-box
      %h2 ピックアップカテゴリー
      %section.main-box__items
        %h3
          =link_to "レディース 新着アイテム", "#"
 
        .main-box__items__row
          = render partial: 'shared/item-content', collection: @items, as: 'item'
  

    =render "shared/sell-btn"

    =render "shared/app-banner"

    =render "shared/footer"

= javascript_include_tag "swiper", "carousel"