
.wrapper

  = render 'shared/header'
  = render 'shared/card-method-breadcrumbs'

  .container.clearfix

    = render 'users/leftbar'

    .main
      .content
        .content__title
          %h2 支払い方法
        .content__credit-cards
          %h3 クレジットカード一覧
          - if @card_information.present?
            %ul.content__credit-cards__list
              %li
                = form_with url: cards_delete_path, id: 'charge-form', name: 'inputForm' do |f|
                  %figure
                    = image_tag "credit-cards/jcb.svg", size: "26×20", alt: @card_information.brand
                  .content__credit-cards__list--pay-num
                    = "**** **** **** " + @card_information.last4
                  .content__credit-cards__list--pay-num
                    - exp_month = @card_information.exp_month.to_s
                    - exp_year = @card_information.exp_year.to_s.slice(2,3)
                    = `exp_month / exp_year`
                  %input{type: "hidden", name: "card_id", value: ""}
                  = f.submit "削除する", {class: "content__credit-cards__list__remove"}
          - else
            .content__credit-cards__add
              .content__credit-cards__add--btn
                = link_to cards_new_path, class: 'btn' do
                  %p.white_color
                    %i.far.fa-credit-card
                    クレジットカードを追加する
          = link_to '#', class: 'explain-payment' do
            %span 支払い方法について
            %i.fas.fa-angle-right

  = render 'shared/sell-btn'
  = render "shared/app-banner"
  = render 'shared/footer'

